<div class="space-y-4">
  <div>
    <h2 class="font-medium mb-1"><%= t(".title") %></h2>
    <p class="text-secondary text-sm mb-4"><%= t(".description") %></p>
  </div>

  <%= styled_form_with model: Setting.new,
                       url: settings_hosting_path,
                       method: :patch,
                       class: "space-y-4",
                       data: {
                         controller: "auto-submit-form",
                         "auto-submit-form-trigger-event-value": "blur"
                       } do |form| %>
    <%= form.text_field :metabase_url,
                        label: t(".url_label"),
                        placeholder: t(".url_placeholder"),
                        value: Setting.metabase_url,
                        autocomplete: "off",
                        autocapitalize: "none",
                        spellcheck: "false",
                        inputmode: "url",
                        disabled: ENV["METABASE_URL"].present?,
                        data: { "auto-submit-form-target": "auto" } %>
    <p class="text-xs text-secondary mt-1"><%= t(".url_help") %></p>

    <%= form.password_field :metabase_api_key,
                            label: t(".api_key_label"),
                            placeholder: t(".api_key_placeholder"),
                            value: (Setting.metabase_api_key.present? ? "********" : nil),
                            autocomplete: "off",
                            autocapitalize: "none",
                            spellcheck: "false",
                            disabled: ENV["METABASE_API_KEY"].present?,
                            data: { "auto-submit-form-target": "auto" } %>
    <p class="text-xs text-secondary mt-1"><%= t(".api_key_help") %></p>

    <%= form.text_field :metabase_student_question_id,
                        label: t(".question_id_label"),
                        placeholder: t(".question_id_placeholder"),
                        value: Setting.metabase_student_question_id,
                        autocomplete: "off",
                        autocapitalize: "none",
                        spellcheck: "false",
                        disabled: ENV["METABASE_STUDENT_QUESTION_ID"].present?,
                        data: { "auto-submit-form-target": "auto" } %>
    <p class="text-xs text-secondary mt-1"><%= t(".question_id_help") %></p>

    <%= form.text_field :metabase_email_param,
                        label: t(".email_param_label"),
                        placeholder: t(".email_param_placeholder"),
                        value: Setting.metabase_email_param,
                        autocomplete: "off",
                        autocapitalize: "none",
                        spellcheck: "false",
                        disabled: ENV["METABASE_EMAIL_PARAM"].present?,
                        data: { "auto-submit-form-target": "auto" } %>
    <p class="text-xs text-secondary mt-1"><%= t(".email_param_help") %></p>
  <% end %>
</div>
